<% include ./partials/header %>
    <div class='aboutContainer px-0 mx-0'>
        <div class='p-0 mx-0 aboutImageContainer'>
            <img class='aboutImage' src='../public/images/045 (2).JPG' alt='fresh coffee'>
        </div>
        <div class='aboutTextContainer'>
            <p>
                Cartwheel Coffee is a mobile specialty coffee service 
                that delivers quality espresso and brewed beverages.
                Since 2016, we've been proudly serving the Central 
                Texas region only the finest of locally-sourced and 
                artisinally-crafted beverages.
            </p>
            <p>
                While you can find us during Fredericksburg's own 
                Trade Days event (every third Saturday of the month),
                we frequently travel the area and are available for
                local events! Follow our announcements and calendar on 
                the Home page to see what we're up to OR you can also 
                write us on our Contact page if you're interested in 
                hiring us for any special events you have planned!
            </p>
        </div>
    </div>
<% include ./partials/login_modal %>
<!-- SCRIPT REFERENCES TO INCLUDE -->
<% include ./partials/footerScripts/scriptsjQueryPopper %>
<% include ./partials/footerScripts/scriptsBootstrap %>