<% include ./partials/header %>
    <div class='container-fluid mt-1'>
        <div class='row justify-content-center text-center'>
            <h4>BROWSE OUR MENU! WE ARE ALSO HAPPY TO TAKE REQUESTS WHERE POSSIBLE!</h4>
        </div>
        <div class='row justify-content-center text-center'>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='../public/images/CC_BlackEye.png'><div class='card-body justify-content-center p-0'><h5 class='card-title'>Black Eye</h5><p class='card-description'>Black Coffee & Espresso</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_Breve.png'><div class='card-body p-0'><h5 class='card-title'>Breve</h5><p class='card-description'>Espresso & Half and Half</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CaffeAuLait.png'><div class='card-body p-0'><h5 class='card-title'>Café Au Lait</h5><p class='card-description'>Espresso & Steamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CafeConHielo.png'><div class='card-body p-0'><h5 class='card-title'>Café Con Hielo</h5><p class='card-description'>Ice Cubes & Espresso</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CafeCortado.png'><div class='card-body p-0'><h5 class='card-title'>Café Cortado</h5><p class='card-description'>Espresso & Foamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CafeCreme.png'><div class='card-body p-0'><h5 class='card-title'>Café Crème</h5><p class='card-description'>Espresso & Heavy Cream</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CaffeLatte.png'><div class='card-body p-0'><h5 class='card-title'>Café Latte</h5><p class='card-description'>Espresso & Steamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CafeNoisette.png'><div class='card-body p-0'><h5 class='card-title'>Café Noisette</h5><p class='card-description'>Espresso & Hot Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CaffeAffogato.png'><div class='card-body p-0'><h5 class='card-title'>Caffé Affogato</h5><p class='card-description'>Vanilla Ice Cream & Espresso</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CaffeeAmericano.png'><div class='card-body p-0'><h5 class='card-title'>Caffé Americano</h5><p class='card-description'>Espresso & Water</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_CafeMacchiato.png'><div class='card-body p-0'><h5 class='card-title'>Caffé Macchiato</h5><p class='card-description'>Espresso & Foamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_Cappuccino.png'><div class='card-body p-0'><h5 class='card-title'>Cappuccino</h5><p class='card-description'>Espresso, Steamed Milk, & Foamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_DryCapuccino.png'><div class='card-body p-0'><h5 class='card-title'>Dry Cappuccino</h5><p class='card-description'>Espresso & Foamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_Espresso.png'><div class='card-body p-0'><h5 class='card-title'>Espresso</h5><p class='card-description'>Single Shot of Espresso</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_ConPanna.png'><div class='card-body p-0'><h5 class='card-title'>Espresso Con Panna</h5><p class='card-description'>Espresso & Whipped Cream</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_EspressoDoppio.png'><div class='card-body p-0'><h5 class='card-title'>Espresso Doppio</h5><p class='card-description'>Double Shot of Espresso</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_FlatWhite.png'><div class='card-body p-0'><h5 class='card-title'>Flat White</h5><p class='card-description'>Espresso & Steamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_Mocha.png'><div class='card-body p-0'><h5 class='card-title'>Mocha</h5><p class='card-description'>Espresso, Chocolate Syrup, & Steamed Milk</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_MochaBreve.png'><div class='card-body p-0'><h5 class='card-title'>Mocha Breve</h5><p class='card-description'>Espresso, Chocolate Syrup, & Half and Half</p></div></div>
            <div class='card col-6 col-sm-4 col-md-3 col-xl-2 p-3 bg-transparent'><img class='card-img-top' src='/public/images/CC_Viennois.png'><div class='card-body p-0'><h5 class='card-title'>Viennois</h5><p class='card-description'>Espresso, Hot Milk, & Whipped Cream</p></div>
        </div>
    </div>
<% include ./partials/login_modal %>
<!-- SCRIPT REFERENCES TO INCLUDE -->
<% include ./partials/footerScripts/scriptsjQueryPopper %>
<% include ./partials/footerScripts/scriptsBootstrap %>