<!-- Edit Announcement Modal -->
<div style='color: black' class='modal fade' id='id<%= announcements._id %>' role='dialog' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Edit Announcement</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <form action='announcements/<%= announcements._id %>/edit?_method=PUT' method='POST'>
                <div class='modal-body'>
                    <div class='form-group'>
                        <input type='text' class='form-control' value='<%= announcements.announcement %>' name='announcement[editedAnnouncement]'></input>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='submit' class='btn btn-success' aria-label='edit announcement'>Edit Post</button>
                    <button type='button' class='btn btn-danger' data-dismiss='modal' aria-label='Cancel'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>