<div class='row d-flex justify-content-center overflow-auto mb-3 announcementContainer'>
    <div class='container-fluid'>
    <% announcements.forEach(function(announcements){ %>
        <div class='mb-2 ml-5 align-items-center'>
            <% if(user) { %>
                <!-- Icon for Edit Announcement Modal-->
                <div class='d-inline' data-toggle='popover' data-trigger='hover' data-placement='right' data-content='Click to edit this post.'>    
                    <div class='d-inline' data-toggle='modal' data-target='#id<%= announcements._id %>' >
                        <i class='fas fa-edit'></i>
                    </div>
                    <% include ./anmt_modal_edit %>
                </div>  
                <!-- Icon for Delete Announcement Route-->
                <div class='d-inline mb-1' data-toggle='popover' data-trigger='hover' data-placement='right' data-content='Click to remove announcement.'>
                    <form class='d-inline mb-0' method='POST' action='/announcements/<%= announcements._id %>?_method=DELETE'>
                        <button type='submit' class='btn btn-transparent py-0' style="vertical-align: 0" aria-label='delete post'>
                            <i class='fas fa-trash-alt'></i>
                        </button>
                    </form>
                </div>
                <% } %>
        <div class='d-inline'>
            <span class='post-timestamp d-inline'><%= announcements.created.toDateString() %></span>
            <span class='post-content d-inline'> <%= announcements.announcement %></span>
        </div>
    </div>
    <% }); %>
    </div>
</div>